@charset "UTF-8";

li {
    list-style: none;
}
.items img {
    height: 300px;
    width: 300px;
}
a {
    text-decoration: none;
    color: black;
}
body {
    background-color: #dddddd;
}
.message {
    color: #228B22;
    border: 3px solid #228B22;
    font-size: 30px;
    padding: 20px;
    text-align: center;
}
.err_msg {
    color: red;
    border: 3px solid red;
    font-size: 30px;
    padding: 20px;
    text-align: center;
}
.header {
    display: flex;
    justify-content: space-between;
    color: black;
}
.header h1 {
    font-family: 'Poppins', sans-serif;
}
.header-right {
    display: flex;
    line-height: 32px;
}
.header-right li {
    margin-right: 20px;
}
.background {
    text-align: center;
    background-color: #F5F5F5;
}
.background img{
    height:400px;
    width: 1250px;
    display: inline-block;
}
.search {
    text-align: right;
    margin: 10px;
    padding: 5px;
    border-bottom: 1px solid black;
}
.items ul {
    width: calc(100 + 20px);
	margin: 0 -10px;
	display: flex;
	flex-wrap: wrap;
	text-align: center;
}
.items li {
    margin: 10px;
}